{% load staticfiles%}
<!DOCTYPE html>
<html>
	<head>
		<title>My Blog</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		 <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

	</head>
<body>
	<div class="header">
		<h1><a href="{%url 'blog/home'%}"> Sharif's Blog</a></h1>
		<h5>powered by md shariful islam</h5>
	</div>
	<div class="menubar">
		<a href="{%url 'blog/home'%}">Home</a>
		<a href="#">Sports</a>
		<a href="#">National</a>
		<a href="#">International</a>
		<a href="#">Politics</a>
		<a href="#">Entertainment</a>
	 	<a href="#">About Us</a>


	</div>
	<div class="content">
		<div class="row">
			<div class="columnn1">
				<h1 style="text-align: center;">উবুন্টুতে অভ্র ইন্সটল </h1>

				<p>প্রথমেই ধন্যবাদ দিতে হয় যাদের অক্লান্ত পরিশ্রমের ফলে অভ্র কিবোর্ড তৈরি হয়েছে |
          এই পর্বে আমরা জানবো উবুন্টুতে কিভাবে অভ্র ইন্সটল করা যায় (মূলত ubuntu 17 & 18) |
         </p>

         <p>টার্মিনাল ওপেন করুন  এবং নিচের কমান্ডগুলো চালান |
           <div class="code">
              1) sudo apt-get update && apt-get upgrade
            <br><br>2) sudo apt-get install gjs gir1.2-ibus-1.0 libibus-1.0-5
            libibus-1.0-dev ibus-gtk ibus-gtk3 ibus clutter ibus-qt4

           </div>
          </p>

          <p>একটু সময় নিবে ডিপেন্ডেনছি গুলো ইন্সটল করতে | আস্তে আস্তে সামনের দিকে এগুতে থাকুন |
            <div class="code">
               3) wget "https://github.com/maateen/avro/releases/download/v2.1/avro_2.1-3_all.deb"
               <br><br>4) sudo dpkg -i avro_2.1-3_all.deb
            </div>
           </p>

					 <p>এটা ডেভ ফাইল ডাউনলোড করে ইন্সটলের উপযোগী বানাবে |
              <br>এইবার Settings এ যান তারপর Region & Language এ যান  নিচের মত একটা উইন্ডো পাবেন
				 		</p>
            <div class="image">
                <img src="{% static 'images/1.png'%}" alt="logo">
             </div>

             <p>তারপর Manage Installed Language এ ক্লিক করুন নিচের মত একটা উইন্ডো পাবেন </p>
             <div class="image">
                 <img src="{% static 'images/2.png'%}" alt="logo">
              </div>
              <p>তারপর Install/Remove Languages এ ক্লিক করুন নিচের মত একটা উইন্ডো আসবে </p>
                <div class="image">
                    <img src="{% static 'images/3.png'%}" alt="logo">
                 </div>
               <p>Banla সিলেক্ট করুন তারপর Apply এ ক্লিক মারুন
                 <br><br>এইবার নিচের কমান্ডগুলো চালান
                 <div class="code">
                   5) sudo apt-get install -f
                  <br>6) ibus restart

                 </div>
             </p>

	          <p>পুনরায় সেটিংস এবং  নিচের পদ্বতি অনুসরণ করুন
              Settings > Region and language > Add an input source >clic the (+) icon >
               Bangla > Bengali (Avro Phonetic) </p>

              <div class="image">
                  <img src="{% static 'images/4.png'%}" alt="logo">
               </div>
               <br>
               <div class="image">
                   <img src="{% static 'images/5.png'%}" alt="logo">
                </div>
          <p>আশা করি অভ্র ইন্সটল সম্পন্ন হয়েছে, তারপরও ঠিকভাবে কাজ না করলে PC রিস্টার্ট দিন আশা করি কাজ করবে |</p>



			</div>
			<div class="columnn2">
				<h2>Follow Us</h2>
				<div class="login">
					<a href=""><button type="button">Login</button></a>
					<a href=""><button type="button">Sign Up</button></a>
				</div>

				<h2>Recent Posts</h2>
				<ul style="list-style: none">
					<li><a href="{%url 'blog/list'%}">লিস্ট অপারেশনস</a></li>
					<li><a href="{%url 'blog/GIT'%}">GIT (version Control)</a></li>
					<li><a href="{%url 'blog/Avro'%}">উবুন্টুতে অভ্র ইন্সটল</a></li>
					<li><a href="{%url 'blog/Functions'%}">বিল্ট ইন ফাংশন</a></li>
					<li><a href="{%url 'blog/github'%}"> গিটহাবে প্রজেক্ট রাখুন</a></li>
					<li><a href="{%url 'blog/strings'%}">স্ট্রিং মেথডস</a></li>

					<li><a href="{%url 'blog/D_ORM'%}">Django ORM</a></li>
					<li><a href="{%url 'blog/Web_Scrapping'%}">Web Scraping</a></li>
					<li><a href="{%url 'blog/Host_Project_in_pythonAnywhere'%}">আপনার প্রজেক্ট ফ্রিতে হোস্ট করুন</a> </li>
				</ul>

				<h2 style="padding-top: 25px">Categories</h2>
				<ul style="list-style: none">

				  	<li><a href="#home">Programming</a></li>
				 	<li><a href="#news">Web Scraping</a></li>
				  	<li><a href="#contact">Basic Python</a></li>
				  	<li><a href="#about">Competetive Python</a></li>
				  	<li><a href="#home">Django</a></li>
				 	<li><a href="#news">Django Model</a></li>
				  	<li><a href="#contact">HTML</a></li>
				  	<li><a href="#about">CSS</a></li>

				</ul>

				<h2 style="padding-top: 25px">Archives</h2>
				<ul style="list-style: none">

				  	<li><a href="#home">January</a></li>
				 	<li><a href="#news">February</a></li>
				  	<li><a href="#contact">March</a></li>
				  	<li><a href="#about">April</a></li>
				  	<li><a href="#home">May</a></li>
				 	<li><a href="#news">June</a></li>
				  	<li><a href="#contact">July</a></li>
				  	<li><a href="#contact">August</a></li>
				  	<li><a href="#about">September</a></li>
				  	<li><a href="#about">October</a></li>
				  	<li><a href="#about">November</a></li>
				  	<li><a href="#about">December</a></li>



				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<span>my blog site<br>Copyright &copy; 2018-3010 </span>

	</div>

</body>
</html>
