{% load staticfiles%}
<!DOCTYPE html>
<html>
	<head>
		<title>My Blog</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		 <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

	</head>
<body>
	<div class="header">
		<h1><a href="{%url 'blog/home'%}"> Sharif's Blog</a></h1>
		<h5>powered by md shariful islam</h5>
	</div>
	<div class="menubar">
		<a href="{%url 'blog/home'%}">Home</a>
		<a href="#">Sports</a>
		<a href="#">National</a>
		<a href="#">International</a>
		<a href="#">Politics</a>
		<a href="#">Entertainment</a>
	 	<a href="#">About Us</a>


	</div>
	<div class="content">
		<div class="row">
			<div class="columnn1">
				<h1 style="text-align: center;"> গিটহাবে প্রজেক্ট রাখুন</h1>

        <p>এর আগের পর্বে আমরা গিট ভার্সন কন্ট্রল নিয়ে মূটামুটি ধারনা পেয়েছি এই পর্বে গিটহাব নিয়ে হাল্কা পাতলা জানবো |
          গিটহাব এক ধরনের হোস্টিং সার্ভিস প্রভাইডার যা  গিট ভার্সন কন্ট্রোল এর জন্য হোস্ট  প্রভাইড করে |
          শুধু গিটহাবই না আরও আছে যেমন বলা যায়  গিটল্যাব, গিটবাকেট  |<br>

          ধরুন আপনি একটি কোম্পানিতে কর্মরত আছেন এবং আপনারা কয়েকজন ডেভেলপার একসাথে একই প্রোজেক্ট এর কাজ করছেন ,
					আপনাদের কাজ রেগুলার আপডেট হচ্ছে , আপনাদের সবাইকে আপডেট থাকতে হচ্ছে এই মুহূর্তে কতটা আপডেট হল ,
					ঠিক কোন জায়গায় আপডেট হল, এক জনের কোড অন্য জনকে দেখতে হচ্ছে এই ক্ষেত্রে আমার মতে গিটহাব
         আপনাকে অনেক সাহায্য করতে পারে |<br>

         এটা একটা ওপেন সোর্স সিস্টেম | আপনি চাইলে অন্যের প্রোজেক্ট এ কন্ট্রিবিউট করতে পারেন |
         কখনো কখনো দেখা যায় একই প্রোজেক্ট এ হাজার হাজার ডেভেলপার কন্ট্রিবিউট  করেছে |
         গিটহাবের আরও অনেক সুবিধা রয়েছে আমাদের উদ্দেশ্য কিন্তু সুবিধা জানা না  অন্য তবুও বলা আর কি |<br>
         তবে ছোট্ট করে বলে রাখি  অনেকের কাছেই শুনা জব ইন্টারভিউ  এর একটা কমন প্রশ্ন আপনার
         গিটহাব কতটা সমৃদ্ব্য?
        </p>

				<h3 style="font-size: 25px">	একাউন্ট করুনঃ  </h3>
				<p>আপনার যদি গিটহাবে একাউন্ট না থাকে তাহলে
						  <a href="https://github.com/" style="color: red" target="_blank"> এখান </a>
						 থেকে আকাউন্ট করে নিন আর থাকলে তো কোন কথাই নেই | 	</p>

					<h3 style="font-size: 25px">নতুন রিপোজিটরি তৈরি করুনঃ </h3>
					<p>আপনার অ্যাকাউন্ট এর ডান পাশে  <strong>+</strong> আইকন এ ক্লিক করুন অনেকগুলা অপশন থেকে নিউ
						 রিপোজিটরি তে ক্লিক করুন নিচের মত  একটা নতুন উইন্ডো আসবে | </p>
						 <div class="image">
	 							<img src="{% static 'images/github1.png'%}" alt="logo">
	 					 </div>
					<p>রিপোজিটরি একটা লজিকাল  নাম দিন তারপর নিচের বাকি যেই অপশন গুলো আছে
						 সেগুলো আপাতত অভাবেই রেখে দিন | তারপর Create repository  তে ক্লিক করুন | </p>
						 <div class="image">
	 							<img src="{% static 'images/github2.png'%}" alt="logo">
	 					 </div>
					<p>আপনার রিপজিটরি তৈরি হয়েছে | </p>

					<p>নিচের দিকে কিছু কমান্ড দেখতে পাচ্ছেন এইগুলা খুব ইম্পরটেন্ট |
							আপনার গিট থেকে কিভাবে গিটহাবের রিপজিটরির কানেকশন করবেন এই কমান্ড গুলো এই
							কথাই বলে |
							</p>
							<div class="image">
								 <img src="{% static 'images/github3.png'%}" alt="logo">
							</div>
						<p>
							দেখতেই পাচ্ছেন  3 টা পার্ট আছে উপরের কাজগুলো আমরা করেছি তাই উপরের টা ইগ্নোর করে নিচের
						২ নং  থেকে কাজ শুরু করুন  এবং  ৩নং  টাও  ইগ্নোর করুন |</p>

						<h3 style="font-size: 25px">	প্রজেক্ট পুস করুনঃ  </h3>
							<p> প্রজেক্ট পুস করার জন্য ২ নং এর 	কমান্ড দুইটা রান করুন | আমি আমার জন্য যেটা আছে সেটা রান করেছি আপনি
								আপনার দুইটা রান করুন |	</p>
							<div class="code">
								$ git remote add origin https://github.com/sharif1302042/my_test.git
								<br>$ git push -u origin master
							</div>

							<p>আপানর গিটহাবের  ইউসার নেম ও পাসওয়ার্ড চাবে, দিয়ে ইন্টার চাপুন এবং আপনার গিটহাব রিপজিটরি রিলোড করুন |
								কিছু দেখতে পেয়েছেন কি ?<br>
								আপনার প্রোজেক্ট গিটহাবে পুস করা হয়েছে আশা করি | </p>








			</div>
			<div class="columnn2">
				<h2>Follow Us</h2>
				<div class="login">
					<a href=""><button type="button">Login</button></a>
					<a href=""><button type="button">Sign Up</button></a>
				</div>

				<h2>Recent Posts</h2>
				<ul style="list-style: none">
					<li><a href="{%url 'blog/list'%}">লিস্ট অপারেশনস</a></li>
					<li><a href="{%url 'blog/GIT'%}">GIT (version Control)</a></li>
					<li><a href="{%url 'blog/Avro'%}">উবুন্টুতে অভ্র ইন্সটল</a></li>
					<li><a href="{%url 'blog/Functions'%}">বিল্ট ইন ফাংশন</a></li>
					<li><a href="{%url 'blog/github'%}"> গিটহাবে প্রজেক্ট রাখুন</a></li>
					<li><a href="{%url 'blog/strings'%}">স্ট্রিং মেথডস</a></li>

					<li><a href="{%url 'blog/D_ORM'%}">Django ORM</a></li>
					<li><a href="{%url 'blog/Web_Scrapping'%}">Web Scraping</a></li>
					<li><a href="{%url 'blog/Host_Project_in_pythonAnywhere'%}">আপনার প্রজেক্ট ফ্রিতে হোস্ট করুন</a> </li>
				</ul>

				<h2 style="padding-top: 25px">Categories</h2>
				<ul style="list-style: none">

				  	<li><a href="#home">Programming</a></li>
				 	<li><a href="#news">Web Scraping</a></li>
				  	<li><a href="#contact">Basic Python</a></li>
				  	<li><a href="#about">Competetive Python</a></li>
				  	<li><a href="#home">Django</a></li>
				 	<li><a href="#news">Django Model</a></li>
				  	<li><a href="#contact">HTML</a></li>
				  	<li><a href="#about">CSS</a></li>

				</ul>

				<h2 style="padding-top: 25px">Archives</h2>
				<ul style="list-style: none">

				  	<li><a href="#home">January</a></li>
				 	<li><a href="#news">February</a></li>
				  	<li><a href="#contact">March</a></li>
				  	<li><a href="#about">April</a></li>
				  	<li><a href="#home">May</a></li>
				 	<li><a href="#news">June</a></li>
				  	<li><a href="#contact">July</a></li>
				  	<li><a href="#contact">August</a></li>
				  	<li><a href="#about">September</a></li>
				  	<li><a href="#about">October</a></li>
				  	<li><a href="#about">November</a></li>
				  	<li><a href="#about">December</a></li>



				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<span>my blog site<br>Copyright &copy; 2018-3010 </span>

	</div>

</body>
</html>
