{% load staticfiles%}
<!DOCTYPE html>
<html>
	<head>
		<title>My Blog</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		 <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

	</head>
<body>
	<div class="header">
		<h1><a href="{%url 'blog/home'%}"> Sharif's Blog</a></h1>
		<h5>powered by md shariful islam</h5>
	</div>
	<div class="menubar">
		<a href="{%url 'blog/home'%}">Home</a>
		<a href="#">Sports</a>
		<a href="#">National</a>
		<a href="#">International</a>
		<a href="#">Politics</a>
		<a href="#">Entertainment</a>
	 	<a href="#">About Us</a>


	</div>
	<div class="content">
		<div class="row">
			<div class="columnn1">
				<h1 style="text-align: center;"> স্ট্রিং মেথডসঃ</h1>
				<h3 style="font-size: 25px"> কিছু কমন স্ট্রিং মেথড ...... </h3>
				<p><strong> s.lower(), s.upper()ঃ</strong> returns the lowercase or uppercase version of the string.</p>

				<p><strong> s.strip()ঃ</strong>  returns a string with whitespace removed from the start and end.
				</p>

				<p><strong> s.isalpha()/s.isdigit()/s.isspace()ঃ</strong>  tests if all the string chars are in the various character classes.</p>

				<p><strong> s.startswith('other'), s.endswith('other')ঃ</strong>  tests if the string starts or ends with the given other string.</p>

				<p><strong> s.find('other')ঃ</strong>  searches for the given other string (not a regular expression) within s, and returns the first index where it begins or -1 if not found.</p>

				<p><strong> s.replace('old', 'new')ঃ</strong>   returns a string where all occurrences of 'old' have been replaced by 'new' string.</p>

				<p><strong> s.split('delim')ঃ</strong> returns a list of substrings separated by the given delimiter. The delimiter is not a regular expression, it's just text. 'aaa,bbb,ccc'.split(',') -> ['aaa', 'bbb', 'ccc']. As a convenient special case s.split() (with no arguments) splits on all whitespace chars.</p>

				<p><strong> s.join(list)ঃ</strong> opposite of split(), joins the elements in the given list together using the string as the delimiter. e.g. '---'.join(['aaa', 'bbb', 'ccc']) -> aaa---bbb---ccc.</p>

				<p><strong>count(str, beg= 0,end=len(string))ঃ</strong> Counts how many times str occurs in string or in a substring of string if starting index beg and ending index end are given.</p>

				<p><strong>find(str, beg=0 end=len(string))ঃ</strong> Determine if str occurs in string or in a substring of string if starting index beg and ending index end are given returns index if found and -1 otherwise.</p>

				<p><strong>replace(old, new [, max])ঃ</strong> Replaces all occurrences of old in string with new or at most max occurrences if max given.</p>

				<h2 style="text-align: center;">All Comments</h2><br>

				{% block content %}

					{% for c in cmt%}
					<h3 style="font-size: 25px">{{c.name}} <strong style="font-size: 15px">({{c.published_date}})</strong></h3>
					<p style="padding-left: 30px">{{c.message}}</p>
					{% endfor %}

				{% endblock %}
				<h2 style="text-align: center;">Leave a Reply</h2><br>

				{% block content2 %}

				    <form method="POST" class="post_form">
				    	{% csrf_token %}
				        {{ form.as_p }}
				        <button type="submit" class="save btn btn-default">Submit Your Comment</button>
				    </form>
				{% endblock %}


			</div>
			<div class="columnn2">
				<h2>Follow Us</h2>
				<div class="login">
					<a href=""><button type="button">Login</button></a>
					<a href=""><button type="button">Sign Up</button></a>
				</div>

				<h2>Recent Posts</h2>
				<ul style="list-style: none">
					<li><a href="{%url 'blog/post_details5'%}">বিল্ট ইন ফাংশন</a></li>
					<li><a href="{%url 'blog/post_details'%}">স্ট্রিং মেথডস</a></li>
					<li><a href="{%url 'blog/post_details2'%}">লিস্ট অপারেশনস</a></li>
					<li><a href="{%url 'blog/post_details3'%}">Django ORM</a></li>
					<li><a href="{%url 'blog/post_details4'%}">GIT Control</a></li>


				</ul>

				<h2 style="padding-top: 25px">Categories</h2>
				<ul style="list-style: none">

				  	<li><a href="#home">Programming</a></li>
				 	<li><a href="#news">Web Scraping</a></li>
				  	<li><a href="#contact">Basic Python</a></li>
				  	<li><a href="#about">Competetive Python</a></li>
				  	<li><a href="#home">Django</a></li>
				 	<li><a href="#news">Django Model</a></li>
				  	<li><a href="#contact">HTML</a></li>
				  	<li><a href="#about">CSS</a></li>

				</ul>

				<h2 style="padding-top: 25px">Archives</h2>
				<ul style="list-style: none">

				  	<li><a href="#home">January</a></li>
				 	<li><a href="#news">February</a></li>
				  	<li><a href="#contact">March</a></li>
				  	<li><a href="#about">April</a></li>
				  	<li><a href="#home">May</a></li>
				 	<li><a href="#news">June</a></li>
				  	<li><a href="#contact">July</a></li>
				  	<li><a href="#contact">August</a></li>
				  	<li><a href="#about">September</a></li>
				  	<li><a href="#about">October</a></li>
				  	<li><a href="#about">November</a></li>
				  	<li><a href="#about">December</a></li>



				</ul>
			</div>
		</div>
	</div>
	<div class="footer">
		<span>my blog site<br>Copyright &copy; 2018-3010 </span>

	</div>

</body>
</html>
